$eigenblack: #16161D;

$textWhite: #eee;
$textLightGray: #aaa; // on very dark surfaces: desktop MainScreen 
$textGray: #545456;

$middleGray: #535353;
$toolbarGray: #3f3f3f;
$boxWhite: #fffdff;

$logoColorLight: #636363;
$primaryOrange: #ffab40;

$warningYellow: #f3e13d;