$eigenblack: #16161d;

$textWhite: #eee;
$textLightGray: #aaa; // on very dark surfaces: desktop MainScreen
$textGray: #545456;

$middleGray: rgba(255, 255, 255, 0.8);
$boxWhite: #fffdff;

$logoColorLight: #636363;

$primaryOrange: #ffcc80; // material: orange, 200

$warningYellow: #f3e13d;

$surface: #111618;
// elevation for panels
$elevation8dp: #1d2223;
