@import 'colors.scss';

body {
    background: $eigenblack;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
* {

    box-sizing: border-box;
}


// custom theme
@import "~vue-material/dist/theme/engine"; // Import the theme engine




@include md-register-theme("default", (
  primary: md-get-palette-color(orange, A200), // The primary color of your application
  accent: md-get-palette-color(cyan, 500), // The accent or secondary color
  theme: dark
));
@import "~vue-material/dist/theme/all"; // Apply the theme
// @import "~vue-material/dist/components/MdButton/theme"; // Apply the theme
// @import "~vue-material/dist/components/MdField/theme"; // Apply the theme

@include md-register-theme("default", (
    primary: md-get-palette-color(orange, A200), // The primary color of your application
    accent: md-get-palette-color(cyan, 400), // The accent or secondary color
    theme: light
));
@import "~vue-material/dist/components/MdSnackbar/theme"; // Apply the theme



// increase dialog animation speed
.md-dialog {
    transition-duration: 0.1s !important;
}

// hack until https://github.com/vuematerial/vue-material/pull/2023 is merged
// fixes the blurry text in the settings dialog in chrome on windows by using flex centering instead of transform centering
// uses the body as the container that centers the dialog and removes the #app by positioning it absolutely
// breaks if more than one dialog is on screen
.md-dialog {
    transform: initial !important;
    position: initial !important;
}
#app {
    position: absolute;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}