@import 'colors.scss';

body {
  background: $surface;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

// custom theme
@import '~vue-material/dist/theme/engine'; // Import the theme engine

@include md-register-theme('default',
  (primary: md-get-palette-color(orange, 200),
    // The primary color of your application
    accent: md-get-palette-color(cyan, 200),
    background: $surface,
    // The accent or secondary color
    theme: dark));
@import '~vue-material/dist/theme/all'; // Apply the theme
// @import "~vue-material/dist/components/MdButton/theme"; // Apply the theme
// @import "~vue-material/dist/components/MdField/theme"; // Apply the theme

@include md-register-theme('default',
  (primary: md-get-palette-color(orange, 200),
    // The primary color of your application
    accent: md-get-palette-color(cyan, 200),
    background: $surface,
    // The accent or secondary color
    theme: light));
@import '~vue-material/dist/components/MdSnackbar/theme'; // Apply the theme

// increase dialog animation speed
.md-dialog {
  transition-duration: 0.1s !important;
}

// hack until https://github.com/vuematerial/vue-material/pull/2023 is merged
// fixes the blurry text in the settings dialog in chrome on windows by using flex centering instead of transform centering
// uses the body as the container that centers the dialog and removes the #app by positioning it absolutely
// breaks if more than one dialog is on screen
.md-dialog {
  transform: initial !important;
  position: initial !important;
}

#app {
  position: absolute;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

// increase z-index of semi-transparent overlay to put it above the railroadWarning, so that it can be higher than the text of material buttons
.md-overlay {
  z-index: 10 !important;
}

// don't underline menu entries in the titlebar
.titlebar .action-menu-item:hover {
  text-decoration: none;
}

// make space for the logo in the titlebar
.titlebar .menubar {
  margin-left: 85px;
}

// hide title text
.titlebar .window-title {
  color: #00000000;
  font-size: 0px !important;
}

// need to be flex so that our hack for centering VueMaterial dialogs still works
.container-after-titlebar {
  display: flex;
}

// put titlebar below dialog overlay layer
.titlebar {
  z-index: 9 !important;
}

.panel {
  background: $elevation8dp;
  border-radius: 4px;
  padding: 16px;
}