@import "colors.scss";

body {
  background: $surface;
  //font-family: "Roboto"; // To set the font of the desktop menubar
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
/*
// custom theme
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(orange, 200),
    // The primary color of your application
      accent: md-get-palette-color(cyan, 200),
    background: $surface,
    // The accent or secondary color
      theme: dark
  )
);
@import "~vue-material/dist/theme/all"; // Apply the theme
// @import "~vue-material/dist/components/MdButton/theme"; // Apply the theme
// @import "~vue-material/dist/components/MdField/theme"; // Apply the theme

@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(orange, 200),
    // The primary color of your application
      accent: md-get-palette-color(cyan, 200),
    background: $surface,
    // The accent or secondary color
      theme: light
  )
);
@import "~vue-material/dist/components/MdSnackbar/theme"; // Apply the theme

// increase dialog animation speed
.md-dialog {
  transition-duration: 0.1s !important;
}

/// Use a different workaround for now https://github.com/vuematerial/vue-material/issues/2209#issuecomment-628165893
.md-dialog .md-dialog-container {
  transform: none;
}
*/

// don't underline menu entries in the titlebar
.titlebar .action-menu-item:hover {
  text-decoration: none;
}

// make space for the logo in the titlebar
.titlebar .menubar {
  margin-left: 85px;
}

// hide title text
.titlebar .window-title {
  color: #00000000;
  font-size: 0px !important;
}

// need to be flex so that our hack for centering VueMaterial dialogs still works
.container-after-titlebar {
}

.v-application--wrap {
  min-height: 0px;
}

// put titlebar below dialog overlay layer
.titlebar {
  z-index: 9 !important;
}

.panel {
  background: $elevation8dp;
  border-radius: 4px;
  padding: 16px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



// Custom dark theme hacks
// as using a variables.scss leads to up to 100% increase in first build time
// (too long, so mac build in GitHub actions fails)
// https://vuetifyjs.com/en/customization/sass-variables/#compilation-time
.theme--dark.v-card {
  background-color: $surface;
}
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: $surface;
}
.theme--dark.v-sheet {
  background-color: $surface; 
}
.theme--dark.v-list {
  background-color: $surface; 
}