html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background: #16161D;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #3dbabc;
  text-decoration: none;
}