name: Build

on:
  push:
    branches-ignore: main
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install dependencies using Yarn
        run: yarn
        working-directory: app

      - name: Build the electron app
        run: yarn electron:build -p never
        working-directory: app
        env:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          GH_TOKEN:  ${{ secrets.github_token }}

      - uses: actions/upload-artifact@v2
        with:
          name: FICSIT-FeliX-setup.exe
          path: app/dist_electron/FICSIT-FeliX-setup.exe
